<form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
  <fieldset>
    <label for="username">Nom d'utilisateur</label>
    <input id="username" formControlName="username" />
    @if (signUpForm.get('username')?.invalid &&
    signUpForm.get('username')?.touched) {
    <div>
      @if (signUpForm.get('username')?.errors?.['required']) {
      <span>Le nom d'utilisateur est requis.</span>
      } @if (signUpForm.get('username')?.errors?.['minlength']) {
      <span>Le nom doit comporter au moins 3 caractères.</span>
      }
    </div>
    }
  </fieldset>
  <fieldset>
    <label for="email">Email</label>
    <input id="email" formControlName="email" />
    @if (signUpForm.get('email')?.invalid &&
    signUpForm.get('email')?.touched) {
    <div>
      @if (signUpForm.get('email')?.errors?.['required']) {
        <span>L'email est requis.</span>
        } @if (signUpForm.get('username')?.errors?.['minlength']) {
        <span>Le nom doit comporter au moins 3 caractères.</span>
        }
    </div>
    }
  </fieldset>

  <div formGroupName="passwords">
    <fieldset>
      <label for="password">Mot de passe</label>
      <input type="password" id="password" formControlName="password">
      @if (signUpForm.get('passwords.password')?.invalid && signUpForm.get('passwords.password')?.touched) {
      <div>
        @if (signUpForm.get('passwords.password')?.errors?.['required']) {
          <span>Le mot de passe est requis.</span>
        }
        @if (signUpForm.get('passwords.password')?.errors?.['securePassword']) {
          <span>Le mot de passe doit contenir au moins 12 caractères, avec une majuscule, une minuscule, un chiffre, et un caractère spécial.</span>
        }
      </div>
    }
    </fieldset>
    <fieldset>
      <label for="confirmPassword">Confirmer le mot de passe</label>
      <input type="password" id="confirmPassword" formControlName="confirmPassword">
      @if (signUpForm.get('passwords')?.errors?.['passwordsMismatch'] && signUpForm.get('passwords')?.touched) {
        <span>Les mots de passe ne correspondent pas.</span>
      }
    </fieldset>
  </div>
  <h2>mot de passe qui marche: azertyuiop$1P</h2>
  <div class="button-container">
    <a [routerLink]="['/']">
      <p-button label="S'inscrire" (click)="onSubmit()" />
    </a>
  </div>
</form>
@if (signUpForm.valid && protection) {
  <h2>Vérification des données envoyées</h2>
  <p>{{ newCustomer.username }}</p>
  <p>{{ newCustomer.email }}</p>
  <p>{{ newCustomer.password }} non c'est pas le mot de passe, même pas vrai d'abord</p>
}
<div class="button-container">
  <a [routerLink]="['/']">
    <p-button label="Retour à l'accueil" />
  </a>
</div>
