img {
    width: 70%;
    height: auto;
    display: block;
    margin: auto;
}

button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 50px auto;
    display: block;
}