<div class="container">
    <h2>{{ article.title}}</h2>
    <img [src]="article.image" [alt]="article.title">
    <p>
        Author: 
        <cite>
            {{article.author}}
        </cite>
    </p>
        @if(!isVisible) {
            <p-button label="Lire l'article" (click)="showModal()" />
        }
        @else {
            <p class="content">{{ article.content }}</p>
            <p-button label="Fermer" (click)="showModal()" />
            @if(!article.isLiked) {
                <div class="like">
                    <img src="https://cdn-icons-png.flaticon.com/128/25/25424.png" alt="coeur non liké" (click)="likeArticle(article)">
                </div>
            }
            @else {
                <div class="like">
                    <img src="https://cdn-icons-png.flaticon.com/128/2107/2107845.png" alt="coeur liké" (click)="likeArticle(article)">
                </div>
            }
        }
</div>
