<div class="card">
    <div class="card-body">
      <div class="image">
        <img [src]="article.image" class="card-img" [alt]="article.author">
      </div>
      <h1 class="card-title">{{ article.title }}</h1>
      <article>
        <p>Auteur: <cite> {{ article.author }}</cite> </p>
        <p class="card-text">
          {{ article.content }}
        </p>
    </article>
    </div>
    <button (click)="togglePublication()" [hidden]="!article.isPublished">Ajouter un commentaire</button>
    <button (click)="togglePublication()" [hidden]="article.isPublished">Enlever un commentaire</button>
    <div class="commentaire">
      <input type="textarea"  [(ngModel)]="article.comment">
    </div>
    <!-- <div *ngIf="article.isPublished" class="card-commentaire" > -->
    <div [hidden]="article.isPublished" class="card-commentaire" >

      <p>Commentaire: {{ article.comment }}</p>
    </div>
  


