<div class="container">
  @for(article of articleList; track $index) {
  <div class="card">
    <h2 class="card-title">{{ article.title }}</h2>
    <div class="image">
      <img [src]="article.image" [alt]="article.title">
    </div>
    <p>
      Auteur:
      <cite>
        {{ article.author }}
      </cite>
    </p>
    <div class="button-container">
      <a [routerLink]="['/article', $index + 1]" class="btn-png">
        <p-button label="Lire l'article" />
      </a>
    </div>
  </div>
  }
</div>
<div>
  <div class="button-container">
    <h2>Quete 6: Template driven form</h2>
  <a [routerLink]="['/form']">
    <p-button label="accès au formulaire" />
  </a>
</div>
</div>
<br />
<div>
  <div class="button-container">
    <h2>Quete 7: Reactive form</h2>
  <a [routerLink]="['/sign-up']">
    <p-button label="formulaire d'inscription" />
  </a>
</div>

