<div class="card">
      <h2 class="card-title">{{ getArticleById(articleId).title }}</h2>
      <div class="image">
        <img [src]="getArticleById(articleId).image" [alt]="getArticleById(articleId).title">
      </div>
    <cite>
      {{ getArticleById(articleId).author }}
    </cite>
        <div class="card-body">
            <section>
              <p class="card-text">
                {{ getArticleById(articleId).content}}
              </p>
            </section>
        </div>
        <div class="button-container">
          <a [routerLink]="['/']">
            <p-button label="Retour à l'accueil" />
          </a>
        </div>
</div>
