.card {
    width: 60%;
    margin: 50px auto; 
    background-color: cadetblue; 
    border-radius: 12px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1); 
    transition: transform 0.2s ease, box-shadow 0.2s ease; 
    padding: 10px;
  }

  .card-body {
    padding: 10px;
  }

  .card-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333; 
    margin-bottom: 16px;
    text-align: center;
  }
  
  .card-text {
    font-size: 2rem;
    line-height: 1.6;
  }

  h2 {
    text-decoration: none;
  }

  div.image {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    width: 150px;
    height: auto;
  }

  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
        text-decoration: none;
        padding-top: 30px;
    }
}
  

  @media (max-width: 768px) {
    .card {
      width: 80%;
    }
  }
  