.card {
    width: 40%;
    margin: 10px auto; 
    background-color: #dbd4d4; 
    border-radius: 12px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1); 
    transition: transform 0.2s ease, box-shadow 0.2s ease; 
    padding: 10px;
  }

  .card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2); 
    background-color: #dfd3d3; 
  }

  .card-body {
    padding: 10px;
  }

  .card-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333; 
    margin-bottom: 16px;
    text-align: center;
  }
  
  .card-text {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #555;
  }

  h2 {
    text-decoration: none;
  }

  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
        text-decoration: none;
        padding-top: 30px;
    }
}
  

  @media (max-width: 768px) {
    .card {
      width: 80%;
    }
  }
  